html {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: #87ceeb;
    color: white;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    border: 3px solid #48cd31;
    padding: 30px;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

a {
    text-decoration: none;
    color: white;
}

.green {
    color: #48cd31;
}

header {
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li {
    border-left: 3px solid #82a0ad;
    padding-left: 5px;
    margin-right: 5px;
    font-weight: bold;
}

nav ul li:last-child {
    margin-right: 0px;
}

nav ul li:first-child {
    border-left: 0px;
    padding-left: 0px;
}

img {
    max-width: 30%;
    height: 80%;
    float: right;
    margin-left: 10px;
}

footer {
    margin-top: 20px;
}
